@import "../../colors";

.guides{
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
    ul{
        width: 320px;
        padding-left: 20px;
        li{
            a{
                color: $app-primary;
            }
        }
    }
}

.btn-back{
    color: $app-primary;
    font-size: 18px;
}