<div class="container-fluid guides">
    <p>Guides (Right click -> open)</p>
    <ul>
        <li>
            <p><a class="out-link" href="http://tools.didsiop.org/">Create an Etheruem DID.</a> A full DID is did:ethr: + etheruem address</p>
        </li>
        <li>
            <p>Algorithm is ES256k-R for ethereum keys</p>
        </li>
        <li>
            <p>Kid value is user_DID + #owner for etheruem keys</p>
        </li>
        <li>
            <p>More details on <a href="https://github.com/RadicalLedger/did-siop-chrome-ext">Github</a></p>
        </li>
        <li>
            <p>Client Library on <a href="https://www.npmjs.com/package/did-siop">NPM</a> </p>
        </li>
        <li>
            <p>Homepage <a href="https://didsiop.org/">didsiop.org</a> </p>
        </li>
    </ul>
    <button class="btn btn-link btn-back" (click)=goBack()>Go Back</button>
  </div>