<div class="d-flex flex-column align-items-center w-100 login-wrapper">
    <div class="logo">
        <img class="img-fluid" src="assets/logo.svg" alt="did siop logo">
    </div>
    <div class="description">
        <p>Self-issued OpenIDConnect Provider based on <br> Decentralized Identities</p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center login-controls">
        <div class="input-group input-group-sm">
            <input id="password" type="password" placeholder="Enter Password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="button" class="btn btn-primary btn-ok">Login</button>
    </div>
    <div class="init-controls"></div>
</div>