<div class="d-flex flex-column align-items-center w-100 login-wrapper">
    <div class="logo">
        <img class="img-fluid" src="assets/logo.svg" alt="did siop logo">
    </div>
    <div class="description">
        <p>Self-issued OpenIDConnect Provider based on <br> Decentralized Identities</p>
    </div>
    <div class="login-controls">
        <form class="d-flex flex-column justify-content-center align-items-center">
            <div class="input-group input-group-sm">
                <input id="password" type="password" placeholder="Enter Password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" #password>
            </div>
            <button type="button" class="btn btn-primary btn-ok" (click)="login(password.value)">Login</button>
        </form>
    </div>
    <div class="init-controls"></div>
</div>