<button #modalOpen data-toggle="modal" data-target="#changeDIDModal" class="modal-trigger"></button>
<div #modal class="modal" id="changeDIDModal" tabindex="-1" role="dialog" aria-labelledby="changeDIDModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeDIDModalLabel">Enter New DID</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="warning">Warning! Changing DID will remove all the keys related to current DID</p>
            <p>New DID</p>
            <div class="input-group input-group-sm">
                <textarea id="newDID" #newDID class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
            </div>
            <p #modalInfo></p>
        </div>
        <div class="modal-footer d-flex justify-content-start">
          <button #modalYes type="button" class="btn btn-primary btn-ok" (click)="changeDID(newDID.value)">Change DID</button>
          <button #modalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>