.main{
    width: 440px;
}

.title-description{
    margin-bottom: 50px;
}

.identity{
    margin-bottom: 50px;
}

.signing-keys{
    .card-header{
        h5{
            min-width: 350px;
        }
    }

    margin-bottom: 50px;
}

.input-group-sm{
    margin-bottom: 10px;
}

.input-group-text{
    width: 100px;
}

.warning{
    color: orangered;
}

.success{
    color: green;
}

.error{
    color: red;
}

.guides{
    width: 350px;
}