<div class="main d-flex flex-column align-items-center justify-content-center mx-auto">
    <h2 class="title">DID-SIOP</h2>
    <p class="title-description text-center"><small class="text-muted">Self-issued OpenIDConnect Provider based on Decentralized Identities</small></p>

    <div class="identity d-flex flex-column align-items-center">
        <h5>Current Identity</h5>
        <div>{{currentDID}}</div>
        <button class="btn btn-link" data-toggle="modal" data-target="#changeDIDModal"><small>Change</small></button>

        <div class="modal" id="changeDIDModal" tabindex="-1" role="dialog" aria-labelledby="changeDIDModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="changeDIDModalLabel">Enter New DID</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p class="warning">Warning! Changing DID will remove all the keys related to current DID</p>
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">DID</span>
                      </div>
                      <input id="newDID" #newDID type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <p #changeDIDModalInfo class="error"></p>
              </div>
              <div class="modal-footer">
                <button #changeDIDModalClose type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="changeDID(newDID.value)">Change DID</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="signing-keys d-flex flex-column align-items-center">
        <h5>Signing Keys</h5>

        <div id="keyAccordion" role="tablist">
            <div class="card" *ngFor="let key of signingInfoSet; let i = index">
              <div class="card-header" role="tab" id="{{'key' + i}}">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="{{'#keyCollapse' + i}}" aria-expanded="true" attr.aria-controls="{{'keyCollapse' + i}}">
                    Key - {{i}}
                  </a>
                </h5>
              </div>
          
              <div id="{{'keyCollapse' + i}}" class="collapse" role="tabpanel" attr.aria-labelledby="{{'key' + i}}">
                <div class="card-body">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Key id</span>
                        </div>
                        <input value="{{key.kid}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Algorithm</span>
                        </div>
                        <input value="{{key.alg}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Key format</span>
                        </div>
                        <input value="{{key.format}}" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                    <button class="btn btn-link" (click)='this.selectedKeyID = key.kid' data-toggle="modal" data-target="#removeKeyModal"><small>Remove</small></button>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                  <h5 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newKeyModal">
                        Add New Key
                      </button>
                  </h5>
                </div>
            
            </div>
        </div>

        <div class="modal" id="newKeyModal" tabindex="-1" role="dialog" aria-labelledby="newKeyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newKeyModalLabel">Add New Key</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">KID</span>
                        </div>
                        <input id="newKeyKID" #newKeyKID type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Algorithm</span>
                        </div>
                        <select id="newKeyAlgorithm" #newKeyAlgorithm class="custom-select">
                            <option value="RS256">RS256</option>
                            <option value="RS384">RS384</option>
                            <option value="RS512">RS512</option>

                            <option value="PS256">PS256</option>
                            <option value="PS384">PS384</option>
                            <option value="PS512">PS512</option>

                            <option value="ES256">ES256</option>
                            <option value="ES384">ES384</option>
                            <option value="ES512">ES512</option>
                            <option value="ES256K">ES256K</option>
                            <option value="ES256K-R">ES256K-R</option>

                            <option value="EdDSA">EdDSA</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Key Format</span>
                        </div>
                        <select id="newKeyFormat" #newKeyFormat class="custom-select">
                            <option value="HEX">HEX</option>
                            <option value="BASE58">BASE58</option>
                            <option value="BASE64">BASE64</option>

                            <option value="PKCS8_PEM">PKCS8_PEM</option>
                            <option value="PKCS1_PEM">PKCS1_PEM</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Key</span>
                        </div>
                        <input id="newKeyString" #newKeyString type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <p class="error" #addNewKeyModalInfo></p>
                <div class="modal-footer">
                  <button #addNewKeyModalClose type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)='addNewKey(
                      newKeyString.value,
                      newKeyKID.value,
                      newKeyFormat.value,
                      newKeyAlgorithm.value
                    )'>Add Key</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal" id="removeKeyModal" tabindex="-1" role="dialog" aria-labelledby="removeKeyModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removeKeyModalLabel">Remove Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p class="warning">You are about to remove key.This cannot be undone. Are you sure?</p>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">KID</span>
                    </div>
                    <input #toRemoveKeyKID type="text" value="{{selectedKeyID}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                  </div>
                  <p class="error" #removeKeyModalInfo></p>
              </div>
              <div class="modal-footer">
                <button #removeKeyModalClose type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="removeKey(toRemoveKeyKID.value)">Yes</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="guides">
      <p>Guides</p>
      <ul>
          <li>
              <p><a class="out-link" href="https://siop-tools.herokuapp.com/">Create an Etheruem DID.</a> A full DID is did:ethr: + etheruem address</p>
          </li>
          <li>
              <p>Algorithm is ES256k-R for ethereum keys</p>
          </li>
          <li>
              <p>Kid value is user_DID + #owner for etheruem keys</p>
          </li>
      </ul>
    </div>
</div>