<button #modalOpen data-toggle="modal" data-target="#newPasswordModal" class="modal-trigger"></button>
<div class="modal" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="newPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPasswordModalLabel">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="old-password">
              <p class="new-password-modal-input-label">Old Password</p>
              <div class="input-group input-group-sm new-password-modal-input">
                  <input id="oldPassword" #oldPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="new-password">
                <p class="new-password-modal-input-label">New Password</p>
                <div class="input-group input-group-sm new-password-modal-input">
                    <input id="newPassword" #newPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="new-password-2">
                <p class="new-password-modal-input-label">Confirm New Password</p>
                <div class="input-group input-group-sm new-password-modal-input">
                    <input id="newPassword2" #newPassword2 type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <p #modalInfo></p>
        </div>
        <div class="modal-footer d-flex justify-content-start">
          <button #modalYes type="button" class="btn btn-primary btn-ok" (click)="changePassword(oldPassword.value, newPassword.value, newPassword2.value)">Change Password</button>
          <button #modalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>