@import "../../../colors";

.new-password-modal-input-label{
    padding-left: 10px;
}

.old-password, .new-password, .new-password-2{
    margin-bottom: 25px;
    p{
        margin-bottom: 8px !important;
    }
}

.new-password-modal-input{
    select, input, textarea{
        background-color: $app-section-background;
    }
}