<div class="modal" id="newKeyModal" tabindex="-1" role="dialog" aria-labelledby="newKeyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newKeyModalLabel">Add New Key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="new-key-key">
              <p class="new-key-modal-input-label">Private Key</p>
              <div class="input-group input-group-sm new-key-modal-input">
                  <textarea id="newKeyString" #newKeyString type="password" rows="10" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
              </div>
            </div>
            <p #modalInfo></p>
        </div>
        <div class="modal-footer d-flex justify-content-start">
          <button #modalYes type="button" class="btn btn-primary btn-ok" (click)='addNewKey(newKeyString.value)'>Add Key</button>
          <button #modalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal" (click)="clearModal()">Cancel</button>
        </div>
      </div>
    </div>
</div>