<div class="settings">
    <div class="setting">
        <div class="identity container-fluid">
            <div class="identity-inner">
              <div class="row identity-top">
                <div class="col">
                  <p>Current Identity</p>
                </div>
                <div class="col d-flex justify-content-end identity-actions">
                  <button class="btn btn-link" data-toggle="modal" data-target="#testDataModal"><small>Test</small></button>
                  <button class="btn btn-link" data-toggle="modal" data-target="#createDIDModal"><small>Create</small></button>
                  <button class="btn btn-link" data-toggle="modal" data-target="#changeDIDModal"><small>Change</small></button>
                </div>
              </div>
              <div class="row identity-bottom">
                <div class="col current-did">
                  <p><span class="text-muted">{{currentDID}}</span></p>
                </div>
              </div>
            </div>

            <change-did-modal (didChanged)="didChange($event)"></change-did-modal>

            <test-data-modal (didChanged)="didChange($event)"></test-data-modal>
            
            <div class="modal" id="createDIDModal" tabindex="-1" role="dialog" aria-labelledby="createDIDModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="createDIDModalLabel">Create New DID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p class="warning">Create new DID. Warning! This will remove current DID and all the related keys. Are you sure?</p>
                      <div class="container did-creator-wrapper">
                        <div id="didMethodCarousel" class="carousel slide" data-interval="false">
                          <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                              <div class="d-flex flex-column justify-content-center">
                                <h5 class="text-center did-method-title">did:ethr</h5>
                                <select #ethrNetwork class="form-control w-50 mt-5 mx-auto">
                                  <option value="mainnet" selected>Mainnet</option>
                                  <option value="ropsten">Ropsten</option>
                                  <option value="rinkeby">Rinkeby</option>
                                  <option value="goerli">Goerli</option>
                                  <option value="kovan">Kovan</option>
                                </select>
                                <button type="button" class="btn btn-primary btn-ok w-50 mt-2 mx-auto" (click)="createNewDID('ethr', {network: ethrNetwork.value})">Create DID</button>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <div class="d-flex flex-column justify-content-center">
                                <h5 class="text-center did-method-title">did:key</h5>
                                <button type="button" class="btn btn-primary btn-ok w-50 mt-5 mx-auto" (click)="createNewDID('key', {})">Create DID</button>
                              </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#didMethodCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#didMethodCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                        
                      </div>
                      <p #createDIDModalInfo></p>
                  </div>
                  <div class="modal-footer d-flex justify-content-end">
                    <button #createDIDModalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    
        <div class="container-fluid signing-keys">
            <div class="signing-keys-inner">
              <div class="row signing-keys-top">
                <div class="col">
                  <p>Signing Keys</p>
                </div>
                <div class="col d-flex justify-content-end new-key-btn">
                  <button #addNewKeyButton type="button" class="btn btn-link" data-toggle="modal" data-target="#newKeyModal" (click)="addNewKeyButtonClicked()"><small>Add New Key</small></button>
                </div>
              </div>
              <div class="row signing-keys-bottom">
                <div class="col">
                  <div id="keyAccordion" role="tablist">
                    <div class="card" *ngFor="let key of signingInfoSet; let i = index">
                      <div class="card-header" role="tab" id="{{'key' + i}}">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" href="{{'#keyCollapse' + i}}" aria-expanded="true" attr.aria-controls="{{'keyCollapse' + i}}">
                            Key - {{i}}
                          </a>
                        </h5>
                      </div>
                      <div id="{{'keyCollapse' + i}}" class="collapse" role="tabpanel" attr.aria-labelledby="{{'key' + i}}">
                        <div class="card-body">
                            <div class="input-group input-group-sm">
                                <textarea value="{{key.kid}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled></textarea>
                            </div>
                            <button class="btn btn-link remove-key-btn" (click)='selectKey(key.kid)' data-toggle="modal" data-target="#removeKeyModal"><small>Remove</small></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="modal" id="newKeyModal" tabindex="-1" role="dialog" aria-labelledby="newKeyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="newKeyModalLabel">Add New Key</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="new-key-key">
                          <p class="new-key-modal-input-label">Private Key</p>
                          <div class="input-group input-group-sm new-key-modal-input">
                              <textarea id="newKeyString" #newKeyString type="password" rows="10" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
                          </div>
                        </div>
                        <p #addNewKeyModalInfo></p>
                    </div>
                    <div class="modal-footer d-flex justify-content-start">
                      <button #addNewKeyModalYes type="button" class="btn btn-primary btn-ok" (click)='addNewKey(newKeyString.value)'>Add Key</button>
                      <button #addNewKeyModalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="modal" id="removeKeyModal" tabindex="-1" role="dialog" aria-labelledby="removeKeyModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="removeKeyModalLabel">Remove Key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p class="warning">You are about to remove key.This cannot be undone. Are you sure?</p>
                      <p>KID</p>
                      <div class="input-group input-group-sm">
                        <textarea #toRemoveKeyKID class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled></textarea>
                      </div>
                      <p #removeKeyModalInfo></p>
                  </div>
                  <div class="modal-footer d-flex justify-content-start">
                    <button #removeKeyModalYes type="button" class="btn btn-primary btn-ok" (click)="removeKey(toRemoveKeyKID.value)">Yes</button>
                    <button #removeKeyModalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="setting">
        <div class="password">
            <div class="password-inner">
                <div class="row password-top">
                  <div class="col">
                    <p>Password</p>
                  </div>
                  <div class="col d-flex justify-content-end new-password-btn">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newPasswordModal" (click)="changePasswordButtonClicked()"><small>Change</small></button>
                  </div>
                </div>
            </div>

            <div class="modal" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="newPasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="newPasswordModalLabel">Change Password</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="old-password">
                          <p class="new-password-modal-input-label">Old Password</p>
                          <div class="input-group input-group-sm new-password-modal-input">
                              <input id="oldPassword" #oldPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                        <div class="new-password">
                            <p class="new-password-modal-input-label">New Password</p>
                            <div class="input-group input-group-sm new-password-modal-input">
                                <input id="newPassword" #newPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="new-password-2">
                            <p class="new-password-modal-input-label">Confirm New Password</p>
                            <div class="input-group input-group-sm new-password-modal-input">
                                <input id="newPassword2" #newPassword2 type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <p #newPasswordModalInfo></p>
                    </div>
                    <div class="modal-footer d-flex justify-content-start">
                      <button #newPasswordModalYes type="button" class="btn btn-primary btn-ok" (click)="changePassword(oldPassword.value, newPassword.value, newPassword2.value)">Change Password</button>
                      <button #newPasswordModalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-link btn-back" (click)=goBack()>Go Back</button>
