<div class="settings">
    <div class="setting">
        <div class="container-fluid identity">
            <div class="identity-inner">
              <div class="row identity-top">
                <div class="col">
                  <p>Current Identity</p>
                </div>
                <div class="col d-flex justify-content-end identity-actions">
                  <button class="btn btn-link" (click)="openTestDataModal()"><small>Test</small></button>
                  <button class="btn btn-link" (click)="openCreateDIDModal()"><small>Create</small></button>
                  <button class="btn btn-link" (click)="openChangeDIDModal()"><small>Change</small></button>
                </div>
              </div>
              <div class="row identity-bottom">
                <div class="col current-did">
                  <p><span class="text-muted">{{currentDID}}</span></p>
                </div>
              </div>
            </div>

            <change-did-modal #changeDIDModal (didChanged)="didChange($event)"></change-did-modal>

            <test-data-modal #testDataModal (didChanged)="didChange($event)"></test-data-modal>
            
            <create-did-modal #createDIDModal (didChanged)="didChange($event)"></create-did-modal>
        </div>
    
        <div class="container-fluid signing-keys">
            <div class="signing-keys-inner">
              <div class="row signing-keys-top">
                <div class="col">
                  <p>Signing Keys</p>
                </div>
                <div class="col d-flex justify-content-end new-key-btn">
                  <button #newKeyButton type="button" class="btn btn-link" (click)="openNewKeyModal()"><small>Add New Key</small></button>
                </div>
              </div>
              <div class="row signing-keys-bottom">
                <div class="col">
                  <div id="keyAccordion" role="tablist">
                    <div class="card" *ngFor="let key of signingInfoSet; let i = index">
                      <div class="card-header" role="tab" id="{{'key' + i}}">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" href="{{'#keyCollapse' + i}}" aria-expanded="true" attr.aria-controls="{{'keyCollapse' + i}}">
                            Key - {{i}}
                          </a>
                        </h5>
                      </div>
                      <div id="{{'keyCollapse' + i}}" class="collapse" role="tabpanel" attr.aria-labelledby="{{'key' + i}}">
                        <div class="card-body">
                            <div class="input-group input-group-sm">
                                <textarea value="{{key.kid}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled></textarea>
                            </div>
                            <button class="btn btn-link remove-key-btn" (click)='openRemoveKeyModal(key.kid)'><small>Remove</small></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <new-key-modal #newKeyModal (didChanged)="didChange($event)"></new-key-modal>

            <remove-key-modal #removeKeyModal (didChanged)="didChange($event)"></remove-key-modal>
        </div>
    </div>
    <div class="setting">
        <div class="password">
            <div class="password-inner">
                <div class="row password-top">
                  <div class="col">
                    <p>Password</p>
                  </div>
                  <div class="col d-flex justify-content-end new-password-btn">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newPasswordModal" (click)="changePasswordButtonClicked()"><small>Change</small></button>
                  </div>
                </div>
            </div>

            <div class="modal" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="newPasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="newPasswordModalLabel">Change Password</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="old-password">
                          <p class="new-password-modal-input-label">Old Password</p>
                          <div class="input-group input-group-sm new-password-modal-input">
                              <input id="oldPassword" #oldPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                        <div class="new-password">
                            <p class="new-password-modal-input-label">New Password</p>
                            <div class="input-group input-group-sm new-password-modal-input">
                                <input id="newPassword" #newPassword type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="new-password-2">
                            <p class="new-password-modal-input-label">Confirm New Password</p>
                            <div class="input-group input-group-sm new-password-modal-input">
                                <input id="newPassword2" #newPassword2 type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <p #newPasswordModalInfo></p>
                    </div>
                    <div class="modal-footer d-flex justify-content-start">
                      <button #newPasswordModalYes type="button" class="btn btn-primary btn-ok" (click)="changePassword(oldPassword.value, newPassword.value, newPassword2.value)">Change Password</button>
                      <button #newPasswordModalClose type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-link btn-back" (click)=goBack()>Go Back</button>
